.bg-slider-panda-commerce {
    background-color: #FCECEB;
}

.panda-commerce-button {
    background-color: #FF5297;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #FCECEB;

}